<launch>
    <arg name="wind_force" default="0.5"/>
    <arg name="wind_start" default="5.0"/>
    <arg name="wind_duration" default="10.0"/>
    <arg name="wind_direction_x" default="0.0"/>
    <arg name="wind_direction_y" default="0.0"/>
    <arg name="wind_direction_z" default="1.0"/>
    
    <!-- Launch UAV -->
    <include file="$(find med_uav_description)/launch/gazebo_bebop.launch">
        <arg name="wind_force" value="$(arg wind_force)"/>
        <arg name="wind_start" value="$(arg wind_start)"/>
        <arg name="wind_duration" value="$(arg wind_duration)"/>
        <arg name="wind_direction_x" value="$(arg wind_direction_x)"/>
        <arg name="wind_direction_y" value="$(arg wind_direction_y)"/>
        <arg name="wind_direction_z" value="$(arg wind_direction_z)"/>
    </include>

</launch>
